
:root {
    --hue-neutral: 200;
}

#headText {
    font-family: fantasy;
    color: violet;
}

.container {
    --hue: var(hue-neutral);
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-radius: 5px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px, 10px;
    color: white; 
    outline: none
}

.btn2 {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color:green;
    border-radius: 50px, 50px;
    color: white; 
    outline: none
}

.btn3 {
    width:100%;
    justify-content: center;
    margin-right: 10px;
}

#nexter {
   align-content: center;
}

#seconds {
    font-size: xx-large;
}